openapi: 3.1.0
info:
  title: Historical News API
  description: Allows you to retrieve historical news using a filter.
  version: 3.0.0
servers:
  - url: https://newswareapi.encypherstudio.com/api/v3
paths:
  /news:
    post:
      summary: Get news
      description: Returns a page of news that match the given filter. Works also with GET method.
      security:
        - ApiKeyHeader: [ ]
        - ApiKeyQuery: [ ]
      requestBody:
        description: |
          Used to filter news by publication time, tickers and a query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNewsRequest'
      responses:
        200:
          description: A JSON page of news.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/News'
                  pagination:
                    type: object
                    properties:
                      cursor:
                        type: array
                        items:
                          type: [ "integer", "string" ]
                        examples:
                          - [ 19230821, 23123 ]
        403:
          description: Api key was not set or is not associated to any user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
  schemas:
    News:
      type: object
      properties:
        id:
          description: |
            Sequential id generated by Newsware
          examples:
            - 24
          type: integer
        headline:
          description: Headline of the news
          examples:
            - Press Release: Capgemini to acquire FCC division of Exiger, to expand its Financial Crime Compliance advisory, analytics and managed services capabilities
          type: string
        body:
          description: Body of the news
          examples:
            - |
              <?DOCTYPE html?><html><head><title>Press Release: Capgemini to acquire FCC division of Exiger, to expand its Financial Crime Compliance advisory, analytics and managed services capabilities</title></head><body><div><h1>Press Release: Capgemini to acquire FCC division of Exiger, to expand its Financial Crime Compliance advisory, analytics and managed services capabilities</h1><p class="newswire-article-time">September 8, 2023 06:30:00 UTC</p></div><div><div><p>Media relations:</p><p>Sam Connatty</p><p>Tel.: +44 (0)370 904 3601</p><p>https://www.globenewswire.com/Tracker?data=gC9eNIS97ojwrII3F5DBubYJmHo0vP3wqy-iWwztFoC3nohKKt4LXYYMd2AGicdR-2T8Vfm7AdAukinHOOXjIcIOV0m3OyMCr3hrdS8_VY9YvCf11Dce8th5an6-2C-g sam.connatty@capgemini.com</p><p>Investor relations:</p><p>Vincent Biraud</p><p>Tel.: +33 1 47 54 50 87</p> With its strong 55-year heritage and deep industry expertise, Capgemini is trusted by its clients to address the entire breadth of their business needs, from strategy and design to operations, fueled by the fast evolving and innovative world of cloud, data, AI, connectivity, software, digital engineering and platforms. The Group reported in 2022 global revenues of EUR22 billion.</p><p>Get The Future You Want | www.capgemini.com</p><p>Attachment</p><pre>-- 09_08_Capgemini to acquire FCC division of Exiger &#xA;      https://ml-eu.globenewswire.com/Resource/Download/718ae574-00df-4c2a-90e4-e8b4a0268867</pre><p>(END) Dow Jones Newswires</p><p>September 08, 2023 02:30 ET (06:30 GMT)</p></div></div><div><div><strong>s.DJ CAP.FR CGEMY</strong></div><div><strong>Article id:  | Exchange:  | Region:</strong></div><div><strong>Industry Codes:  | Category Codes:</strong></div></div></body></html>
          type: string
        tickers:
          type: array
          items:
            type: string
          description: A list of tickers related to the news
          examples:
            - [ APPL, HSBC ]
        source:
          description: Source of the news.
          $ref: '#/components/schemas/Source'
          examples:
            - SEC
        publicationTime:
          type: string
          description: Time of publication
          examples:
            - 2023-09-12T03:30:00Z
        receivedTime:
          type: string
          description: Time the news was received by Newsware
          examples:
            - 2023-09-12T03:30:02.192731316Z
        creationTime:
          type: string
          description: Time the news was indexed into the Newsware database
          examples:
            - 2023-09-12T03:30:02.351817973Z
        ciks:
          type: array
          items:
            type: integer
          description: (Only valid for SEC filings) CIKs associated to the SEC filing
          examples:
            - [ 1375793, 1692705 ]
        link:
          type: string
          description: (Only valid for SEC filings) Official SEC link to filing
          examples:
            - https://www.sec.gov/Archives/edgar/data/1692705/000110465923099095/0001104659-23-099095-index.htm
        categoryCodes:
          type: array
          items:
            type: string
          description: A set of category codes assigned by the news sources
          examples:
            - [ MA ]
    GetNewsRequest:
      description: |
        Used to filter news by publication time, tickers and a query.
        
        Example:
        ```json
        {
          "filter": {
            "type": "and",
            "value": [
              {"type": "text", "action": "any", "value": ["bitcoin", "ethereum"], "onlyHeadline": "true"},
              {"type": "tickers", "action", "any", "value": ["APPL", "BMW", "BTC"]}
            ]
          },
          "pagination": {"limit": 10, "cursor": [12321213213, 423]},
          "publishedBefore": 1695102611,
          "publishedAfter": 0
        }
        ```
      properties:
        pagination:
          $ref: '#/components/schemas/NewsPagination'
        publishedBefore:
          description: UNIX timestamp. Blank or less than 1 to ignore.
          $ref: '#/components/schemas/NewsTimeLimit'
        publishedAfter:
          description: UNIX timestamp. Blank or less than 1 to ignore.
          $ref: '#/components/schemas/NewsTimeLimit'
        filter:
          $ref: '#/components/schemas/NewsFilter'
    NewsFilter:
      description: |
        Used to filter news by different criteria.
        This example will match if all are true:
          - "bitcoin" or "ethereum" are mentioned in the headline
          - "scam" is not mentioned in the body
          - Metadata contains tickers "BTC" or "ETH"
          - The source of the news is DownJones (DJ) or BusinessWire (BW)
        ```json
        {
          "type": "and",
          "value": [
            {
              "type": "text",
              "action": "any",
              "value": ["bitcoin", "ethereum"],
              "onlyHeadline": true
            },
            {
              "type": "text",
              "action": "exclude",
              "value": ["scam"],
              "onlyBody": true
            },
            {
              "type": "tickers",
              "action": "any",
              "value": ["BTC", "ETH"]
            },
            {
              "type": "source",
              "action": "any",
              "value": ["DJ", "BW"]
            }
          ]
        }
        ```
      oneOf:
        - $ref: '#/components/schemas/TextQuery'
        - $ref: '#/components/schemas/ConditionQuery'
        - $ref: '#/components/schemas/MetadataQuery'
    ConditionQuery:
      type: object
      description: |
        Used to join multiple value using an AND or OR condition.

        Example, search for news that contains "bitcoin" or "ethereum" in the headline AND don't contain "scam" in the body:
        ```json
        {
          "type": "and",
          "value": [
            {
              "type": "text",
              "action": "any",
              "value": ["bitcoin", "ethereum"],
              "onlyHeadline": true
            },
            {
              "type": "text",
              "action": "exclude",
              "value": ["scam"],
              "onlyBody": true
            }
          ]
        }
        ```
        
        
        Example, search for news that fulfill one of the following:
          - Mention "bitcoin" AND "bull run" in the headline
          - Mention "dollar", in the headline
        ```json
        {
          "type": "or",
          "value": [
            {
                "type": "text",
                "action": "all",
                "value": ["bitcoin", "bull run"], 
                "onlyHeadline": true
            },
            { 
              "type": "text",
              "action": "any",
              "value": ["dollar"],
              "onlyHeadline": true
            }
          ]
        }
        ```
      properties:
        type:
          type: string
          enum: [ "and", "or" ]
        value:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/TextQuery'
              - $ref: '#/components/schemas/ConditionQuery'
              - $ref: '#/components/schemas/MetadataQuery'
    TextQuery:
      type: object
      description: |
        Used to retrieve or exclude news containing various texts. If action is "all" a match will occur if all the texts are mentioned in the news, if "any" a match will occur if any of the items are mentioned, if "exclude" a match will
        occur if none of the texts are mentioned.
      properties:
        type:
          type: string
          const: text
        action:
          $ref: '#/components/schemas/ActionType'
          examples:
            - any
        value:
          type: array
          items:
            type: string
          description: Texts to search for
          examples:
            - [ bitcoin, ethereum ]
        onlyBody:
          type: boolean
          description: If true, the value will be searched only in the body of the news, and not the headline.
          examples:
            - false
        onlyHeadline:
          type: boolean
          description: If true, the value will be searched only in the headline.
          examples:
            - false
    MetadataQuery:
      type: object
      description: |
        Used to search by metadata. If action is "all" a match will occur if all the value items
        are present, if "any" a match will occur if any of the items are present, if "exclude" a match will
        occur if none of the value items are present.
      properties:
        type:
          type: string
          enum:
            - tickers
            - categoryCodes
            - source
            - ciks
          examples:
            - tickers
        action:
          $ref: '#/components/schemas/ActionType'
          examples:
            - any
        value:
          type: array
          items:
            type: string
          description: Values to search for
          examples:
            - [ APPL, BTC ]
    NewsPagination:
      description: Describes how many items per page, and the current cursor after which items will be fetched.
      properties:
        limit:
          description: Number of items per page.
          type: integer
          minimum: 1
          maximum: 10000
          default: 10
        cursor:
          description: Cursor describing the last result after which new items will be fetched. The cursor
            is returned in the previous request. If it is the first request, leave cursor blank.
          type: array
          items:
            type: [ "integer", "string" ]
    Source:
      type: string
      enum:
        - DJ
        - AR
        - PZ
        - PN
        - BW
        - SEC
        - HS
    ActionType:
      type: string
      enum:
        - any
        - all
        - exclude
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              examples:
                - Error message
    NewsTimeLimit:
      description: A UNIX timestamp. If set to 0 or less, the limit is not applied.
      type: integer